<form method="post" action="{{ path('copies_movies_delete', {'id': copiesmovie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ copiesmovie.id) }}">
    <button class="btn">Delete</button>
</form>
